extends main
include mixins

block vars
  - var hasToolbar = false
block content
  div
     .container.screen-container(ng-app='allcount',ng-controller="PosController")
        .col-md-8
            div(lc-grid="'AllFiledsView'", edit-mode="false" , paging="{}")     
        .col-md-8
            div(lc-grid="'AllFiledsView'", edit-mode="false" , paging="{}")    
block js
  +entityJs()
  script.
    angular.module('allcount').controller('PosController', ['$scope', 'lcApi', '$q', function ($scope, lcApi, $q) {
      $scope.addItem = function (item) {
       
       console.warn('hello from', item);
      }
    }])
  style.
    .items-bar .btn-block {
      margin-bottom: 10px;
    }
