extends main
include mixins

block vars
  - var hasToolbar = false
block content
  div
     +defaultList()
     div(ng-app='allcount',ng-controller="PosController")
     .container.screen-container()
       .row(lc-list="'AllFiledsView'", paging="{}")
            .col-xs-3(ng-repeat="item in items")
                .panel.panel-default               
                    .panel-body
                          div(ng-repeat="fd in fieldDescriptions", lc-field="fd",ng-model="item[fd.field]", is-editor="false")
               
block js
  +entityJs()
  script.
    angular.module('allcount').controller('PosController', ['$scope', 'lcApi', '$q', function ($scope, lcApi, $q) {
      $scope.addItem = function (item) {
       
       console.warn('hello from', item);
      }
    }])
  style.
    .items-bar .btn-block {
      margin-bottom: 10px;
    }
