extends main
include mixins

block vars
  - var hasToolbar = false
block content
  div
     +defaultList()
     .container.screen-container
       .row(ng-app='allcount',ng-controller="PosController")
         .col-md-8
           .items-bar.row.btn-toolbar(lc-list="'AllFileds'", paging="{}")
             .col-lg-4.col-md-6.col-xs-12(ng-repeat="item in items")
               button.btn.btn-lg.btn-block.btn-default(ng-click="addItem(item)")
                 p {{item.text}}
               
block js
  +entityJs()
  script.
    angular.module('allcount').controller('PosController', ['$scope', 'lcApi', '$q', function ($scope, lcApi, $q) {
      $scope.addItem = function (item) {
       
       console.warn('hello from', item);
      }
    }])
  style.
    .items-bar .btn-block {
      margin-bottom: 10px;
    }
