extends main
include mixins

block vars
  - var hasToolbar = false
block content
  div
     .container.screen-container.container-fluid(ng-app='allcount',ng-controller="PosController")
        div.row
            div.col-md-4
                div.panel.panel-default
                    .panel-heading.h3  AllFiledsView
                        .panel-body
                            div(lc-grid="'AllFiledsView'", edit-mode="false", navigate="navigateAllFileds($entityId)" , paging="{}")     
            div.col-md-4
                div.panel.panel-default
                    .panel-heading.h3   AllFiledsView 2
                        .panel-body
                            div(lc-grid="'AllFiledsView'", edit-mode="false" , navigate="navigateAllFileds($entityId)",  paging="{}")     
   
     
block js
  +entityJs()
  script.
    angular.module('allcount').controller('PosController', ['$scope', 'lcApi', '$q', function ($scope, lcApi, $q) {
      $scope.addItem = function (item) {
       
       console.warn('hello from', item);
      };
       $scope.navigateAllFileds = function(entityId)
       {    
           console.warn('navigateAllFileds', entityId);
            window.location.href='/entity/AllFileds/' + entityId;
       };
    }])
  style.
    .items-bar .btn-block {
      margin-bottom: 10px;
    }
