extends main
block content
    .splash
        .container
            .row
                .col-lg-12
                    span.app-logo
                        i(class="fa fa-" + (menuService.appIcon() || 'circle-thin') + " fa-fw")
                    h1= menuService.appName()
